In [1]:
import re
import nltk

from typesql.utils import *

In [2]:
sql_data, table_data, val_sql_data, val_table_data, \
            test_sql_data, test_table_data, \
            TRAIN_DB, DEV_DB, TEST_DB = load_dataset(use_small=True) # False (full dataset)

Loading from original dataset
Loading data from data/train_tok.jsonl
Loading data from data/train_tok.tables.jsonl
Loading data from data/dev_tok.jsonl
Loading data from data/dev_tok.tables.jsonl
Loading data from data/test_tok.jsonl
Loading data from data/test_tok.tables.jsonl

In [4]:
sql_data[0:20]

[{'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['notes'],
   ['te8r2ed']],
  'kg_entities': [],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'date',
   'date',
   'te8r2ed'],
  'question_tok_concol': [['what'],
   ['is'],
   ['the'],
   ['current', 'series'],
   ['where'],
   ['the'],
   ['new', 'series', 'began', 'in', 'june', '2011'],
   ['?']],
  'question': 'What is the current series where the new series began in June 2011?',
  'question_tok_kgcol': [['what'],
   ['is'],
   ['the'],
   ['current', 'series'],
   ['where'],
   ['the'],
   ['new'],
   ['series'],
   ['began'],
   ['in'],
   ['june', '2011'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['none', 'column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['date'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'current',
   'series',
   'WHERE',
   'notes',
   'EQL',
   'new',
   'series',
   'began',
   'in',
   'june',
   '2011'],
  'query_tok_space': [' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ''],
  'table_id': '1-1000181-1',
  'sql': {'agg': 0,
   'sel': 4,
   'conds': [[5, 0, 'New series began in June 2011']]},
  'question_tok_space': [' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   '',
   ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'entity',
   'entity',
   'entity',
   'entity',
   'entity',
   'entity',
   'te8r2ed'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'date',
   'te8r2ed'],
  'query': 'SELECT current series WHERE notes EQL new series began in june 2011',
  'question_tok_org': ['what',
   'is',
   'the',
   'current',
   'series',
   'where',
   'the',
   'new',
   'series',
   'began',
   'in',
   'june',
   '2011',
   '?'],
  'question_tok': ['what',
   'is',
   'the',
   'current',
   'series',
   'where',
   'the',
   'new',
   'series',
   'began',
   'in',
   'june',
   '2011',
   '?']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['state/territory'],
   ['te8r2ed']],
  'kg_entities': [[['south', 'australia'],
    ['thing', 'place', 'administrativearea']]],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'place',
   'place',
   'te8r2ed'],
  'question_tok_concol': [['what'],
   ['is'],
   ['the'],
   ['format'],
   ['for'],
   ['south', 'australia'],
   ['?']],
  'question': 'What is the format for South Australia?',
  'question_tok_kgcol': [['what'],
   ['is'],
   ['the'],
   ['format'],
   ['for'],
   ['south', 'australia'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['none', 'column'],
   ['te8r2ed'],
   ['place', 'entity'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'format',
   'WHERE',
   'state/territory',
   'EQL',
   'south',
   'australia'],
  'query_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', ''],
  'table_id': '1-1000181-1',
  'sql': {'agg': 0, 'sel': 2, 'conds': [[0, 0, 'South Australia']]},
  'question_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', '', ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'entity',
   'entity',
   'te8r2ed'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'place',
   'te8r2ed'],
  'query': 'SELECT format WHERE state/territory EQL south australia',
  'question_tok_org': ['what',
   'is',
   'the',
   'format',
   'for',
   'south',
   'australia',
   '?'],
  'question_tok': ['what',
   'is',
   'the',
   'format',
   'for',
   'south',
   'australia',
   '?']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['state/territory']],
  'kg_entities': [[['background', 'colour'], ['musicrecording', 'thing']],
   [['australian', 'capital', 'territory'],
    ['thing', 'administrativearea', 'place']]],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'entity'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'place',
   'place',
   'place'],
  'question_tok_concol': [['name'],
   ['the'],
   ['background'],
   ['colour'],
   ['for'],
   ['the'],
   ['australian', 'capital', 'territory']],
  'question': 'Name the background colour for the Australian Capital Territory',
  'question_tok_kgcol': [['name'],
   ['the'],
   ['background', 'colour'],
   ['for'],
   ['the'],
   ['australian', 'capital', 'territory']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed', 'entity'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['place', 'entity']],
  'query_tok': ['SELECT',
   'text/background',
   'colour',
   'WHERE',
   'state/territory',
   'EQL',
   'australian',
   'capital',
   'territory'],
  'query_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ''],
  'table_id': '1-1000181-1',
  'sql': {'agg': 0,
   'sel': 1,
   'conds': [[0, 0, 'Australian Capital Territory']]},
  'question_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'entity',
   'entity',
   'entity'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'place'],
  'query': 'SELECT text/background colour WHERE state/territory EQL australian capital territory',
  'question_tok_org': ['name',
   'the',
   'background',
   'colour',
   'for',
   'the',
   'australian',
   'capital',
   'territory'],
  'question_tok': ['name',
   'the',
   'background',
   'colour',
   'for',
   'the',
   'australian',
   'capital',
   'territory']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['fuel', 'propulsion'],
   ['te8r2ed']],
  'kg_entities': [],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed'],
  'question_tok_concol': [['how'],
   ['many'],
   ['times'],
   ['is'],
   ['the'],
   ['fuel', 'propulsion'],
   ['is'],
   ['cng'],
   ['?']],
  'question': 'how many times is the fuel propulsion is cng?',
  'question_tok_kgcol': [['how'],
   ['many'],
   ['times'],
   ['is'],
   ['the'],
   ['fuel', 'propulsion'],
   ['is'],
   ['cng'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['thing', 'column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'count',
   '(',
   'fleet',
   'series',
   '(',
   'quantity',
   ')',
   ')',
   'WHERE',
   'fuel',
   'propulsion',
   'EQL',
   'cng'],
  'query_tok_space': [' ',
   '',
   '',
   ' ',
   ' ',
   '',
   '',
   '',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ''],
  'table_id': '1-10007452-3',
  'sql': {'agg': 3, 'sel': 3, 'conds': [[5, 0, 'CNG']]},
  'question_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '', ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'te8r2ed',
   'entity',
   'te8r2ed'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed'],
  'query': 'SELECT count(fleet series (quantity)) WHERE fuel propulsion EQL cng',
  'question_tok_org': ['how',
   'many',
   'times',
   'is',
   'the',
   'fuel',
   'propulsion',
   'is',
   'cng',
   '?'],
  'question_tok': ['how',
   'many',
   'times',
   'is',
   'the',
   'fuel',
   'propulsion',
   'is',
   'cng',
   '?']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['fleet', 'series', '(', 'quantity', ')'],
   ['te8r2ed']],
  'kg_entities': [],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'column',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'integer',
   'te8r2ed',
   'te8r2ed'],
  'question_tok_concol': [['what'],
   ['is'],
   ['the'],
   ['fuel', 'propulsion'],
   ['where'],
   ['the'],
   ['fleet', 'series', '(', 'quantity', ')'],
   ['is'],
   ['310-329', '(', '20', ')'],
   ['?']],
  'question': 'what is the fuel propulsion where the fleet series (quantity) is 310-329 (20)?',
  'question_tok_kgcol': [['what'],
   ['is'],
   ['the'],
   ['fuel', 'propulsion'],
   ['where'],
   ['the'],
   ['fleet', 'series', '(', 'quantity', ')'],
   ['is'],
   ['310-329'],
   ['('],
   ['20'],
   [')'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['thing', 'column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['none', 'column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['small', 'integer'],
   ['te8r2ed'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'fuel',
   'propulsion',
   'WHERE',
   'fleet',
   'series',
   '(',
   'quantity',
   ')',
   'EQL',
   '310-329',
   '(',
   '20',
   ')'],
  'query_tok_space': [' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   '',
   '',
   ' ',
   ' ',
   ' ',
   '',
   '',
   ''],
  'table_id': '1-10007452-3',
  'sql': {'agg': 0, 'sel': 5, 'conds': [[3, 0, '310-329 (20)']]},
  'question_tok_space': [' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   '',
   '',
   ' ',
   ' ',
   ' ',
   '',
   '',
   '',
   ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'column',
   'column',
   'column',
   'te8r2ed',
   'entity',
   'entity',
   'entity',
   'entity',
   'te8r2ed'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'integer',
   'te8r2ed',
   'te8r2ed'],
  'query': 'SELECT fuel propulsion WHERE fleet series (quantity) EQL 310-329 (20)',
  'question_tok_org': ['what',
   'is',
   'the',
   'fuel',
   'propulsion',
   'where',
   'the',
   'fleet',
   'series',
   '(',
   'quantity',
   ')',
   'is',
   '310-329',
   '(',
   '20',
   ')',
   '?'],
  'question_tok': ['what',
   'is',
   'the',
   'fuel',
   'propulsion',
   'where',
   'the',
   'fleet',
   'series',
   '(',
   'quantity',
   ')',
   'is',
   '310-329',
   '(',
   '20',
   ')',
   '?']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['order', 'year'],
   ['te8r2ed']],
  'kg_entities': [],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'integer',
   'te8r2ed'],
  'question_tok_concol': [['who'],
   ['is'],
   ['the'],
   ['manufacturer'],
   ['for'],
   ['the'],
   ['order', 'year'],
   ['1998'],
   ['?']],
  'question': 'who is the manufacturer for the order year 1998?',
  'question_tok_kgcol': [['who'],
   ['is'],
   ['the'],
   ['manufacturer'],
   ['for'],
   ['the'],
   ['order', 'year'],
   ['1998'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['none', 'column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['year', 'column'],
   ['large', 'integer'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'manufacturer',
   'WHERE',
   'order',
   'year',
   'EQL',
   '1998'],
  'query_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', ''],
  'table_id': '1-10007452-3',
  'sql': {'agg': 0, 'sel': 1, 'conds': [[0, 0, '1998']]},
  'question_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '', ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'entity',
   'te8r2ed'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'integer',
   'te8r2ed'],
  'query': 'SELECT manufacturer WHERE order year EQL 1998',
  'question_tok_org': ['who',
   'is',
   'the',
   'manufacturer',
   'for',
   'the',
   'order',
   'year',
   '1998',
   '?'],
  'question_tok': ['who',
   'is',
   'the',
   'manufacturer',
   'for',
   'the',
   'order',
   'year',
   '1998',
   '?']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['model'],
   ['te8r2ed']],
  'kg_entities': [],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed'],
  'question_tok_concol': [['how'],
   ['many'],
   ['times'],
   ['is'],
   ['the'],
   ['model'],
   ['ge40lfr'],
   ['?']],
  'question': 'how many times is the model ge40lfr?',
  'question_tok_kgcol': [['how'],
   ['many'],
   ['times'],
   ['is'],
   ['the'],
   ['model'],
   ['ge40lfr'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['none', 'column'],
   ['te8r2ed'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'count',
   '(',
   'manufacturer',
   ')',
   'WHERE',
   'model',
   'EQL',
   'ge40lfr'],
  'query_tok_space': [' ', '', '', '', ' ', ' ', ' ', ' ', ''],
  'table_id': '1-10007452-3',
  'sql': {'agg': 3, 'sel': 1, 'conds': [[2, 0, 'GE40LFR']]},
  'question_tok_space': [' ', ' ', ' ', ' ', ' ', ' ', '', ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'entity',
   'te8r2ed'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed'],
  'query': 'SELECT count(manufacturer) WHERE model EQL ge40lfr',
  'question_tok_org': ['how',
   'many',
   'times',
   'is',
   'the',
   'model',
   'ge40lfr',
   '?'],
  'question_tok': ['how',
   'many',
   'times',
   'is',
   'the',
   'model',
   'ge40lfr',
   '?']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['fleet', 'series', '(', 'quantity', ')'],
   ['te8r2ed']],
  'kg_entities': [],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'column',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'integer',
   'te8r2ed',
   'te8r2ed'],
  'question_tok_concol': [['how'],
   ['many'],
   ['times'],
   ['is'],
   ['the'],
   ['fleet', 'series', '(', 'quantity', ')'],
   ['is'],
   ['468-473', '(', '6', ')'],
   ['?']],
  'question': 'how many times is the fleet series (quantity) is 468-473 (6)?',
  'question_tok_kgcol': [['how'],
   ['many'],
   ['times'],
   ['is'],
   ['the'],
   ['fleet', 'series', '(', 'quantity', ')'],
   ['is'],
   ['468-473'],
   ['('],
   ['6'],
   [')'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['none', 'column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['small', 'integer'],
   ['te8r2ed'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'count',
   '(',
   'order',
   'year',
   ')',
   'WHERE',
   'fleet',
   'series',
   '(',
   'quantity',
   ')',
   'EQL',
   '468-473',
   '(',
   '6',
   ')'],
  'query_tok_space': [' ',
   '',
   '',
   ' ',
   '',
   ' ',
   ' ',
   ' ',
   ' ',
   '',
   '',
   ' ',
   ' ',
   ' ',
   '',
   '',
   ''],
  'table_id': '1-10007452-3',
  'sql': {'agg': 3, 'sel': 0, 'conds': [[3, 0, '468-473 (6)']]},
  'question_tok_space': [' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   ' ',
   '',
   '',
   ' ',
   ' ',
   ' ',
   '',
   '',
   '',
   ''],
  'question_type_org_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'column',
   'column',
   'column',
   'te8r2ed',
   'entity',
   'entity',
   'entity',
   'entity',
   'te8r2ed'],
  'phase': 1,
  'question_type_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'integer',
   'te8r2ed',
   'te8r2ed'],
  'query': 'SELECT count(order year) WHERE fleet series (quantity) EQL 468-473 (6)',
  'question_tok_org': ['how',
   'many',
   'times',
   'is',
   'the',
   'fleet',
   'series',
   '(',
   'quantity',
   ')',
   'is',
   '468-473',
   '(',
   '6',
   ')',
   '?'],
  'question_tok': ['how',
   'many',
   'times',
   'is',
   'the',
   'fleet',
   'series',
   '(',
   'quantity',
   ')',
   'is',
   '468-473',
   '(',
   '6',
   ')',
   '?']},
 {'question_type_concol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['column'],
   ['te8r2ed'],
   ['order', 'year'],
   ['te8r2ed']],
  'kg_entities': [],
  'question_type_concol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'te8r2ed',
   'entity',
   'te8r2ed'],
  'question_type_org_kgcol': ['te8r2ed',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'column',
   'column',
   'te8r2ed',
   'te8r2ed',
   'column',
   'column',
   'te8r2ed',
   'integer',
   'te8r2ed'],
  'question_tok_concol': [['what'],
   ['is'],
   ['the'],
   ['powertrain', '(', 'engine/transmission', ')'],
   ['when'],
   ['the'],
   ['order', 'year'],
   ['is'],
   ['2000'],
   ['?']],
  'question': 'what is the powertrain (engine/transmission) when the order year is 2000?',
  'question_tok_kgcol': [['what'],
   ['is'],
   ['the'],
   ['powertrain', '(', 'engine/transmission', ')'],
   ['when'],
   ['the'],
   ['order', 'year'],
   ['is'],
   ['2000'],
   ['?']],
  'question_type_kgcol_list': [['te8r2ed'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['none', 'column'],
   ['te8r2ed'],
   ['te8r2ed'],
   ['year', 'column'],
   ['te8r2ed'],
   ['large', 'integer'],
   ['te8r2ed']],
  'query_tok': ['SELECT',
   'powertrain',
   '(',
   'engine/transmission',
   ')',
   'WHERE',
   'order',
   'year',
   'EQL',
   '2000'],
  'query_tok_space': [' ', ' ', '', '', ' ', ' ', ' ', ' ', ' ', ''],
  'table_id': '1-10007452-3',

In [ ]:
def concatenate_sql_data(sql_data_train, sql_data_val):
    sql_data_train.extend(sql_data_val)
    return sql_data_train

In [9]:
def annotate_pos(question_tok_concol, pos_tags):
    pos_concol = list()
    tok_span = 0
    for tok_concol in question_tok_concol:
        if len(tok_concol) > 1:
            tok_span += len(tok_concol)
            pos_concol.append([pos for pos in pos_tags[tok_span-len(tok_concol):tok_span]])
        else:
            pos_concol.append(pos_tags[tok_span].split())
            tok_span += 1
    return pos_concol

In [10]:
def update_sql_data_pos(sql_data):
    """
    Update SQL data with POS tags for each question.
    """
    for i, question in enumerate(sql_data):
        tok_pos_tags = nltk.pos_tag(question['question_tok'])
        _, pos_tags = zip(*tok_pos_tags)
        assert len(question['question_tok']) == len(pos_tags)
        sql_data[i]['question_tok_pos'] = list(pos_tags)
        pos_tags_concol = annotate_pos(question['question_tok_concol'], list(pos_tags))
        assert len(question['question_tok_concol']) == len(pos_tags_concol)
        sql_data[i]['question_tok_concol_pos'] = pos_tags_concol
    return sql_data

In [11]:
sql_data = update_sql_data_pos(sql_data)