In [1]:
import json
import os 
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as img

In [2]:
def get_results(train=True):
    global filenames
    filenames = [f for f in os.listdir(os.getcwd()+'./results/') if not f.endswith('checkpoints')]
    filenames.extend([f for f in os.listdir(os.getcwd()+'./results_test/') if not f.endswith('checkpoints')\
                     and not f in filenames])
    for filename in sorted(filenames):
        if train:
            try:
                with open('./results/'+ filename,'r') as f: yield filename, json.load(f)
            except:
                continue
        else:
            try:
                with open('./results_test/'+ filename,'r') as f: yield filename, json.load(f)
            except:
                pass

In [3]:
def mk_dataframe(results_train, results_test=None):
    filename_train, results_train = results_train
    if results_test != None:
        filename_test, results_test = results_test
        assert filename_train==filename_test, 'filenames should be the same'
        results_train.update(results_test)
        print("Model: ", filename_test.strip('.json'))
        return pd.DataFrame.from_dict(results_train, orient='index').fillna('_')
    else:
        print("Model: ", filename_train.strip('.json'))
        return pd.DataFrame.from_dict(results_train, orient='index')

In [4]:
def show_plots(metric, idx):
    folder = 'losses/' if metric == 'loss' else 'accs/'
    files = [file for file in os.listdir(os.getcwd() + './plots/' + folder) if not file.endswith('.ipynb_checkpoints')]
    filename = './plots/' + folder + files[idx]
    print("Model: ", re.sub(r'./plots/' + folder, '', filename.replace('.png', '')))
    image = img.imread(filename)
    plt.clf()
    plt.figure(dpi=100)
    fig = plt.imshow(image)
    plt.axis('off')
    fig.axes.get_xaxis().set_visible(False)
    fig.axes.get_yaxis().set_visible(False)
    plt.show()

In [5]:
results_train = get_results()
results_test = get_results(train=False)

In [6]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

Model:  100d_bert_avg_types_homogeneous_kg

            max       agg       sel     where    qm_acc    ex_acc
dev           _  0.901424  0.885752  0.661802  0.553774  0.629621
test          _  0.901013  0.874858  0.655921  0.543952  0.627486
train  0.917383  0.997515  0.999464  0.916865         _         _

In [7]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

Model:  100d_bert_avg_types_mixed_kg

            max       agg       sel     where    qm_acc    ex_acc
dev           _  0.902022  0.937074  0.738366  0.642062  0.628066
test          _  0.900127  0.928372  0.732236  0.632426  0.614123
train  0.914255  0.996389  0.999553  0.917812         _         _

In [8]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

Model:  100d_bert_avg_types_single_kg

            max       agg       sel     where    qm_acc    ex_acc
dev           _  0.899151  0.867807  0.675679  0.556406  0.624357
test          _  0.898733  0.857441  0.669411  0.548322  0.620329
train  0.959639  0.987220  0.999106  0.972133         _         _

In [9]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

Model:  100d_bert_max-pool_types_single_kg

            max       agg       sel     where    qm_acc    ex_acc
dev           _  0.899749  0.863979  0.671970  0.549946  0.620768
test          _  0.897467  0.848195  0.669981  0.546295  0.620899
train  0.957905  0.988989  0.998731  0.969631         _         _

In [10]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

Model:  100d_types_homogeneous_kg

            max       agg       sel     where    qm_acc    ex_acc
dev           _  0.902019  0.936936  0.741805  0.645012  0.690261
test          _  0.901241  0.925112  0.740442   0.63507  0.682623
train  0.915126  0.997108  0.999237  0.908880         _         _

In [11]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

Model:  100d_types_single_kg

            max       agg       sel     where    qm_acc    ex_acc
dev           _  0.898456  0.922328  0.773515  0.663302  0.730879
test          _  0.897588  0.912578  0.768533  0.650501  0.719028
train  0.966001  0.986443  0.998669  0.978404         _         _

In [12]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

Model:  600d_bert_avg_types_homogeneous_kg

            max       agg       sel     where    qm_acc    ex_acc
dev           _  0.899151  0.895442  0.682139  0.574351  0.644934
test          _  0.900950  0.883534  0.671374  0.559531  0.646232
train  0.915506  0.993458  0.999660  0.917061         _         _

In [13]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

AssertionError: filenames should be the same

In [ ]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

In [ ]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

In [ ]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

In [ ]:
mk_dataframe(next(iter(results_train)), next(iter(results_test)))

In [ ]:
for i in range(len(filenames)):
    show_plots('acc', i)

In [ ]:
for i in range(len(filenames)):
    show_plots('loss', i)